.uvod ul li{
    font-size: 35px;
}

.txt ul li{
    font-size: 35px;
}

.txt2 ul li{
    font-size: 25px;
}

.headline {
    font-size: 38px;
}


/* .cell-output {
    height: 300px;
    width: 1000px;
} */
